{% extends "admin/base_site.html" %}

{% block title %}IPC{% endblock %}

{% block branding %} <h1 id="site-name">aasaan</h1> {% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <h4>Your Message has been sent</h4>
   <form action="/admin/travels/travelrequest/" method="get">{% csrf_token %}
     {{ form.media }}
    {{ form.as_p }}Click Travel Master to go to Travel Request Dashboard
    <input type="submit" value="Travel Master" />
</form>
{% endblock %}


