{% extends 'contacts/base_summary.html' %}

{% block title %}Contacts Reporting Dashboard{% endblock %}

{% block scripts %}
<style type="text/css">
    .table-text-style {
    text-align: left;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/datatables/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/static/datatables/Buttons/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/static/datatables/Responsive/css/responsive.dataTables.min.css">

<script type="text/javascript" charset="utf8"  src='/static/bootstrap/js/jquery.js'></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/DataTables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Buttons/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Buttons/js/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Buttons/js/buttons.colVis.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/datatables/Responsive/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src='/static/pdfmake/pdfmake.min.js'></script>
<script type="text/javascript" charset="utf8"  src='/static/pdfmake/vfs_fonts.js'></script>
<script type="text/javascript" charset="utf8"  src='/static/jszip/jszip.min.js'></script>

<link rel="stylesheet" type="text/css" href="/static/datatables/AutoFill/css/autoFill.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="/static/datatables/AutoFill/js/dataTables.autoFill.min.js"></script>

<script type="text/javascript" src="/static/aasaan/travels/passanger_list.js"></script>


{% endblock %}

{% block body_block %}

{% block sidebar %}


{% endblock sidebar %}


{% block pagetitle %}
Passanger Summary
{% endblock pagetitle %}

{% block main %}
<div class="container-fluid" style="border:1px solid #cecece;">
<form>{% csrf_token %}


</form>

<div id="row-tn-ie-table" class="row placeholders">
        <h4 id="header_ie_table"></h4>
        <table id="passanger_table" class="display responsive nowrap table table-striped cell-border" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>TNumber</th>
                    <th>category</th>
                    <th>Gender</th>
                    <th>age</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Id Card Type</th>
                    <th>Id Card Number</th>
                    <th>Zone</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>T Number</th>
                    <th>category</th>
                    <th>Gender</th>
                    <th>age</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Id Card Type</th>
                    <th>Id Card Number</th>
                    <th>Zone</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>

{% endblock main %}

{% endblock body_block %}