{% extends "admin/base_site.html" %}
{% load django_markdown %}

{% block title %}IPC{% endblock %}

{% block branding %} <h1 id="site-name">aasaan</h1> {% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <h4>Your Message has not sent</h4>
   <form action="/admin/ipcaccounts/rcoaccountsmaster/" method="get">{% csrf_token %}
     {{ form.media }}
    {{ form.as_p }}Click Accounts Master to go to Dashboard and send Email again
    <input type="submit" value="Accounts Master" />
</form>
{% endblock %}

{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>

