{% extends 'common/base_stat_dashboard.html' %}

{% block title %}Aasaan - Statistics Dashboard{% endblock %}

{% block scripts %}
<style type="text/css">
    .table-text-style {
    text-align: left;
    }
</style>
<script src="/static/bootstrap/js/jquery-ui.js"></script>
<script src="/static/aasaan/js/moment.min.js"></script>
<link rel="stylesheet"
      href="/static/bootstrap/css/bootstrap-datetimepicker.min.css"/>
<script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
        var aasaan_stats_dashboard = {};
        var dashboard_data = '{% autoescape off %}{{ result }}{% endautoescape %}';
        aasaan_stats_dashboard.dashboard_data = JSON.parse(dashboard_data);
        aasaan_stats_dashboard.report_zone = 'aTN';
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/aasaan/statistics/js/statistics_dashboard_charts.js"></script>
{% endblock %}

{% block body_block %}

{% block sidebar %}
<h3>Charts</h3>
<ul class="nav nav-sidebar">
    <li class="active"><a href="#" id="aTN" onclick="refresh_charts(this.id)">Tamil Nadu</a></li>
    <li><a href="#" id="aOTN" onclick="refresh_charts(this.id)">Outside Tamilnadu</a></li>
    <li><a href="#" id="aIYC" onclick="refresh_charts(this.id)">Isha Yoga Center</a></li>
    <li><a href="#" id="aUN" onclick="refresh_charts(this.id)">Uyir Nokkam</a></li>
    <li><a href="#" id="aOVS" onclick="refresh_charts(this.id)">Overseas</a></li>
</ul>
<h3>Tables</h3>
<ul class="nav nav-sidebar">
    <li><a href="#" id="t_aTN" onclick="refresh_tables(this.id)">Tamil Nadu</a></li>
    <li><a href="#" id="t_aOTN" onclick="refresh_tables(this.id)">Outside Tamilnadu</a></li>
    <li><a href="#" id="t_aIYC" onclick="refresh_tables(this.id)">Isha Yoga Center</a></li>
    <li><a href="#" id="t_aUN" onclick="refresh_tables(this.id)">Uyir Nokkam</a></li>
    <li><a href="#" id="t_aOVS" onclick="refresh_tables(this.id)">Overseas</a></li>
</ul>


<div class="container">
    <div class="row placeholders">
    <div class="col-sm-12 col-md-6 placeholder" style="width:200px;">
        <h6>From Date</h6>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker10'>
                <input type='text' id="from_date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    </div>
     <div class="row placeholders">
    <div class="col-sm-12 col-md-6 placeholder" style="width:200px;">
        <h6>To Date</h6>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker11'>
                <input type='text' id="to_date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    </div>

<div class="row placeholders">
    <div class="col-sm-12 col-md-6 placeholder" style="width:200px;">
    <div>
        <button id="btnSubmit" type="button" class="btn btn-primary" value="submit" onclick="button_submit(this)">Submit</button>
    </div>
    </div>
</div>
    <script type="text/javascript">
    (function($) {
        $(function () {
            $('#datetimepicker10').datetimepicker({
                viewMode: 'years',
                format: 'YYYY-MM',
                defaultDate: '2017-01',
            });
            $('#datetimepicker10').attr('readonly', true);
            $('#datetimepicker11').datetimepicker({
                viewMode: 'years',
                format: 'YYYY-MM',
                defaultDate: '2017-06',
            });
        });
        })(jQuery);
    </script>
</div>

{% endblock sidebar %}


{% block pagetitle %}
Statistics Dashboard - Tamil Nadu
{% endblock pagetitle %}

{% block main %}
<div class="container-fluid" style="border:1px solid #cecece;">
    <div id="row-tn-ie-chart" class="row placeholders">
        <div class="col-sm-12 col-md-6">
            <h4 id="header_ie_chart">Number of participants - Inner Engineering & Isha Yoga Program</h4>
            <div style="width: 1400px; height: 500px;" id="tn-ie-chart">
            </div>
        </div>
    </div>

<div id="row-tn-ie-table" class="row placeholders">
    <div class="col-sm-12 col-md-6 placeholder" align="middle">
        <h4 id="header_ie_table">Number of participants - Inner Engineering & Isha Yoga Program</h4>
        <div id="tn-ie-table" style="width: 800px; border:1px solid #cecece;">
        </div>
    </div>

</div>
</div>
<div id="container2" class="container-fluid" style="height:20px">

</div>

<div class="container-fluid" style="border:1px solid #cecece;">

<div id="row-tn-other-chart" class="row placeholders centered">
    <div class="col-sm-12 col-md-6">
        <h4 id="header_other_chart">Number of participants - Other programs</h4>

        <div id="tn-other-chart" style="width: 1400px; height: 500px;">
        </div>
    </div>
</div>

<div id="row-tn-other-table" class="row placeholders">
    <div class="col-sm-12 col-md-6 placeholder">
        <h4 id="header_other_table">Number of participants - Other programs</h4>
        <div id="tn-other-table" style="width: 800px; border:1px solid #cecece;">
        </div>
    </div>
</div>
</div>
<div id="container4" class="container-fluid" style="height:20px">

</div>
<div id="container5" class="container-fluid" style="border:1px solid #cecece;">
<div id="row-tn-class-average" class="row placeholders">
    <div class="col-sm-12 col-md-6">
        <h4>Number of classes</h4>
        <div id="tn-class-average" style="width: 1400px; height: 500px;">
        </div>
    </div>
</div>
</div>
{% endblock main %}

{% endblock body_block %}