{% extends 'common/base_dashboard.html' %}

{% block title %}Synchronise Sheets{% endblock %}

{% block scripts %}
    <style type="text/css"></style>
    <link href="/static/misc/css/synch_sheets.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript"></script>
{% endblock %}

{% block pagetitle %}
    Administrator Dashboard
{% endblock pagetitle %}

{% block main %}			  
	<div class="form-horizontal">
		<div class="col-md-4 col-xs-4">
			<button id="id_button1" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_schedules','id_msg_button1');">Sync Schedules</button>
			<span id="id_msg_button1"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button2" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_enrollments','id_msg_button2');">Sync Enrollments</button>
			<span id="id_msg_button2"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button3" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_contacts','id_msg_button3');">Sync Contacts</button>
			<span id="id_msg_button3"></span>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="col-md-4 col-xs-4">
			<button id="id_button4" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button4');">Sync 4</button>
			<span id="id_msg_button4"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button5" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button5');">Sync 5</button>
			<span id="id_msg_button5"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button6" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button6');">Sync 6</button>
			<span id="id_msg_button6"></span>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="col-md-4 col-xs-4">
			<button id="id_button7" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button7');">Sync 7</button>
			<span id="id_msg_button7"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button8" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button8');">Sync 8</button>
			<span id="id_msg_button8"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button9" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button9');">Sync 9</button>
			<span id="id_msg_button9"></span>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="col-md-4 col-xs-4">
			<button id="id_button10" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button10');">Sync 10</button>
			<span id="id_msg_button10"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button11" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button11');">Sync 11</button>
			<span id="id_msg_button11"></span>
		</div>
		<div class="col-md-4 col-xs-4">
			<button id="id_button12" class="btn btn-primary btn-block" type="submit" onclick="setCommand('sync_xyz','id_msg_button12');">Sync 12</button>
			<span id="id_msg_button12"></span>
		</div>
	</div>	
{% endblock main %}

{% block end_scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
    <script type="text/javascript" src="/static/misc/js/synch_sheets.js"></script>
{% endblock %}