{% extends "admin/base_site.html" %}
{% load django_markdown %}

{% block title %}IPC{% endblock %}

{% block branding %} <h1 id="site-name">aasaan</h1> {% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
<h1>Recipients {{ year }}</h1>
 <p>Reason:{{ reason }}</p>

<p>Communication Type:{{ communication_type }}</p>

<p>Subject:{{ subject }}</p>

<p>Message:{{ message }}</p>

{% for article in all_contacts %}
<p>{{ article.first_name }}</p>

{% endfor %}
<input type="button" value="Send" />
<input type="button" value="Cancel" />
<input type="button" value="Edit Message" />
{% endblock %}

{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>

